---
import { Image } from 'astro:assets';
import imgaaub4 from '../assets/media/articles/jmag.webp';
import imgoy8kwd from '../assets/media/articles/brazil.webp';
import imgzjsmt8 from '../assets/media/articles/censorship.webp';
import img9npiu3 from '../assets/media/articles/firstdime.webp';
import imgxh6g6g from '../assets/media/articles/ducksmanager.webp';
import img5cfwyu from '../assets/media/articles/donrosatgs.webp';
import img3bpgd4 from '../assets/media/articles/journaldemickey.webp';
import imglqkep from '../assets/media/articles/angouleme.webp';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Articles" description="Retrouvez tous mes articles publiés dans le fanzine Picsou-Soir sur la bande dessinée Disney." body_class="">
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Accueil",
                    "item": "https://wizyx.me/"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Articles",
                    "item": "https://wizyx.me/articles/"
                }
            ]
        }
    </script>
<header class="text-white bg-brand-primary py-20 lg:px-32 px-8">
        <h1 class="text-5xl font-bold">Articles</h1>
        <p class="mt-4">Retrouvez tous mes articles publiés dans le fanzine Picsou-Soir sur la bande dessinée Disney.
            Des analyses, des découvertes et des anecdotes sur l'univers des canards les plus célèbres.</p>
    </header>

    <section class="py-16 text-center lg:px-32 px-8">
        <h2 class="text-2xl font-bold mb-6">
            <i class='bx bxs-note-book'></i> Mes articles
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto">
            <!-- Article 1 -->
            <a href="https://inducks.org/story.php?c=Qfr%2FPS+++14H" target="_blank">
                <div
                    class="transition-all duration-600 bg-white dark:bg-dark-bg rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-brand-dark p-2 dark:border-dark-bg">
                    <div class="h-40 mb-3 rounded-lg bg-brand-primary bg-opacity-[0.12] outline outline-2 overflow-hidden">
                        <Image loading="lazy" decoding="async" src={imgaaub4} alt="Obscures Mickey d'avant-guerre"
                            class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                    </div>
                    <h3 class="text-lg font-semibold text-brand-primary dark:text-brand-secondary">Obscures Mickey
                        d'avant-guerre
                    </h3>
                    <div class="mt-1 flex space-x-2">
                        <span
                            class="bg-[#EDE9FE] dark:bg-brand-dark text-brand-primary dark:text-brand-secondary border border-brand-primary px-2 text-xs rounded-full flex items-center">
                            <i class='bx bx-calendar-event text-sm mr-1'></i> 23/12/2023
                        </span>
                    </div>
                    <p class="text-sm text-dark-bg dark:text-white mt-2">À quoi ressemble les premières versions
                        du
                        plus vieux
                        hebdomadaire jeunesse encore en activité ?</p>
                </div>
            </a>

            <!-- Article 2 -->
            <a href="https://inducks.org/story.php?c=Qfr%2FPS+++13H" target="_blank">
                <div
                    class="transition-all duration-600 bg-white dark:bg-dark-bg rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-brand-dark p-2 dark:border-dark-bg">
                    <div class="h-40 mb-3 rounded-lg bg-brand-primary bg-opacity-[0.12] outline outline-2 overflow-hidden">
                        <Image loading="lazy" decoding="async" src={imgoy8kwd} alt="L'univers Disney brésilien"
                            class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                    </div>
                    <h3 class="text-lg font-semibold text-brand-primary dark:text-brand-secondary">L'univers Disney brésilien
                    </h3>
                    <div class="mt-1 flex space-x-2">
                        <span
                            class="bg-[#EDE9FE] dark:bg-brand-dark text-brand-primary dark:text-brand-secondary border border-brand-primary px-2 text-xs rounded-full flex items-center">
                            <i class='bx bx-calendar-event text-sm mr-1'></i> 29/05/2023
                        </span>
                    </div>
                    <p class="text-sm text-dark-bg dark:text-white mt-2">Les publications et histoires
                        brésiliennes
                        ont beaucoup de
                        différences par rapport à ce que l'on connaît en France.</p>
                </div>
            </a>

            <!-- Article 3 -->
            <a href="https://inducks.org/story.php?c=Qfr%2FPS+++13E" target="_blank">
                <div
                    class="transition-all duration-600 bg-white dark:bg-dark-bg rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-brand-dark p-2 dark:border-dark-bg">
                    <div class="h-40 mb-3 rounded-lg bg-brand-primary bg-opacity-[0.12] outline outline-2 overflow-hidden">
                        <Image loading="lazy" decoding="async" src={imgzjsmt8} alt="Disney censure La Jeunesse de Picsou !"
                            class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                    </div>
                    <h3 class="text-lg font-semibold text-brand-primary dark:text-brand-secondary">Disney censure La Jeunesse
                        de
                        Picsou !</h3>
                    <div class="mt-1 flex space-x-2">
                        <span
                            class="bg-[#EDE9FE] dark:bg-brand-dark text-brand-primary dark:text-brand-secondary border border-brand-primary px-2 text-xs rounded-full flex items-center">
                            <i class='bx bx-calendar-event text-sm mr-1'></i> 29/05/2023
                        </span>
                    </div>
                    <p class="text-sm text-dark-bg dark:text-white mt-2">Disney décide de censurer l'iconique
                        Jeunesse
                        de Picsou de Don
                        Rosa.</p>
                </div>
            </a>

            <!-- Article 4 -->
            <a href="https://inducks.org/story.php?c=Qfr%2FPS+++12I" target="_blank">
                <div
                    class="transition-all duration-600 bg-white dark:bg-dark-bg rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-brand-dark p-2 dark:border-dark-bg">
                    <div class="h-40 mb-3 rounded-lg bg-brand-primary bg-opacity-[0.12] outline outline-2 overflow-hidden">
                        <Image loading="lazy" decoding="async" src={img9npiu3} alt="Quand Rosa ne cite pas Barks"
                            class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                    </div>
                    <h3 class="text-lg font-semibold text-brand-primary dark:text-brand-secondary">Quand Rosa ne cite pas
                        Barks
                    </h3>
                    <div class="mt-1 flex space-x-2">
                        <span
                            class="bg-[#EDE9FE] dark:bg-brand-dark text-brand-primary dark:text-brand-secondary border border-brand-primary px-2 text-xs rounded-full flex items-center">
                            <i class='bx bx-calendar-event text-sm mr-1'></i> 08/12/2022
                        </span>
                    </div>
                    <p class="text-sm text-dark-bg dark:text-white mt-2">Connu pour se baser exclusivement sur le
                        travail de Carl
                        Barks, il est parfois allé chercher ses sources ailleurs...</p>
                </div>
            </a>

            <!-- Article 5 -->
            <a href="https://inducks.org/story.php?c=Qfr%2FPS+++11J" target="_blank">
                <div
                    class="transition-all duration-600 bg-white dark:bg-dark-bg rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-brand-dark p-2 dark:border-dark-bg">
                    <div class="h-40 mb-3 rounded-lg bg-brand-primary bg-opacity-[0.12] outline outline-2 overflow-hidden">
                        <Image loading="lazy" decoding="async" src={imgxh6g6g} alt="Le monde de DucksManager"
                            class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                    </div>
                    <h3 class="text-lg font-semibold text-brand-primary dark:text-brand-secondary">Le monde de DucksManager
                    </h3>
                    <div class="mt-1 flex space-x-2">
                        <span
                            class="bg-[#EDE9FE] dark:bg-brand-dark text-brand-primary dark:text-brand-secondary border border-brand-primary px-2 text-xs rounded-full flex items-center">
                            <i class='bx bx-calendar-event text-sm mr-1'></i> 25/09/2022
                        </span>
                    </div>
                    <p class="text-sm text-dark-bg dark:text-white mt-2">Découvrez l'écosystème de DucksManager
                        (site,
                        application
                        jusqu'à un jeu) créé par un passionné.</p>
                </div>
            </a>

            <!-- Article 6 -->
            <a href="https://inducks.org/story.php?c=Qfr%2FPS+++11E" target="_blank">
                <div
                    class="transition-all duration-600 bg-white dark:bg-dark-bg rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-brand-dark p-2 dark:border-dark-bg">
                    <div class="h-40 mb-3 rounded-lg bg-brand-primary bg-opacity-[0.12] outline outline-2 overflow-hidden">
                        <Image loading="lazy" decoding="async" src={img5cfwyu} alt="Un Louisvillois à Toulouse"
                            class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                    </div>
                    <h3 class="text-lg font-semibold text-brand-primary dark:text-brand-secondary">Un Louisvillois à Toulouse
                    </h3>
                    <div class="mt-1 flex space-x-2">
                        <span
                            class="bg-[#EDE9FE] dark:bg-brand-dark text-brand-primary dark:text-brand-secondary border border-brand-primary px-2 text-xs rounded-full flex items-center">
                            <i class='bx bx-calendar-event text-sm mr-1'></i> 25/09/2022
                        </span>
                    </div>
                    <p class="text-sm text-dark-bg dark:text-white mt-2">Évènement : Don Rosa revient enfin en
                        France
                        au Toulouse Game
                        Show !</p>
                </div>
            </a>

            <!-- Article 7 -->
            <a href="https://inducks.org/story.php?c=Qfr%2FPS+++11C" target="_blank">
                <div
                    class="transition-all duration-600 bg-white dark:bg-dark-bg rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-brand-dark p-2 dark:border-dark-bg">
                    <div class="h-40 mb-3 rounded-lg bg-brand-primary bg-opacity-[0.12] outline outline-2 overflow-hidden">
                        <Image loading="lazy" decoding="async" src={img3bpgd4} alt="Grand ménage d'automne pour Mickey"
                            class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                    </div>
                    <h3 class="text-lg font-semibold text-brand-primary dark:text-brand-secondary">Grand ménage d'automne pour
                        Mickey</h3>
                    <div class="mt-1 flex space-x-2">
                        <span
                            class="bg-[#EDE9FE] dark:bg-brand-dark text-brand-primary dark:text-brand-secondary border border-brand-primary px-2 text-xs rounded-full flex items-center">
                            <i class='bx bx-calendar-event text-sm mr-1'></i> 25/09/2022
                        </span>
                    </div>
                    <p class="text-sm text-dark-bg dark:text-white mt-2">Le Journal de Mickey fait peau neuve avec
                        une
                        nouvelle
                        formule.</p>
                </div>
            </a>

            <!-- Article 8 -->
            <a href="https://inducks.org/story.php?c=Qfr%2FPS+++10C" target="_blank">
                <div
                    class="transition-all duration-600 bg-white dark:bg-dark-bg rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-brand-dark p-2 dark:border-dark-bg">
                    <div class="h-40 mb-3 rounded-lg bg-brand-primary bg-opacity-[0.12] outline outline-2 overflow-hidden">
                        <Image loading="lazy" decoding="async" src={imglqkep} alt="Année Picsou et festival d'Angoulême"
                            class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                    </div>
                    <h3 class="text-lg font-semibold text-brand-primary dark:text-brand-secondary"> Année Picsou et festival
                        d'Angoulême</h3>
                    <div class="mt-1 flex space-x-2">
                        <span
                            class="bg-[#EDE9FE] dark:bg-brand-dark text-brand-primary dark:text-brand-secondary border border-brand-primary px-2 text-xs rounded-full flex items-center">
                            <i class='bx bx-calendar-event text-sm mr-1'></i> 30/05/2022
                        </span>
                    </div>
                    <p class="text-sm text-dark-bg dark:text-white mt-2">Découvrez ce que nous réserve la fameuse
                        "année Picsou".</p>
                </div>
            </a>
        </div>
    </section>

    

    <div class='gtranslate_wrapper'></div>
    <script>
        (window as any).gtranslateSettings = {
            "default_language": "fr",
            "native_language_names": true,
            "detect_browser_language": true,
            "languages": ["da", "de", "en", "el", "es", "fr", "it", "nl", "no", "pt", "sv", "vi"],
            "wrapper_selector": ".gtranslate_wrapper",
            "alt_flags": { "en": "usa" }
        };
    </script>
    <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

</Layout>