---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';

const allProjects = await getCollection('projects');
const sorted_projects = allProjects
  .filter((p) => p.data.is_study === true)
  .sort((a, b) => a.data.id - b.data.id);
---
<Layout title="Projets académiques" description="" body_class="">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "Accueil",
                    "item": "https://wizyx.me/"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "Créations académiques",
                    "item": "https://wizyx.me/creations_studies/"
                }
            ]
        }
    </script>
    <script src="/assets/js/projects.js" defer></script>
    <header class="text-white bg-[#411FEB] py-20 lg:px-32 px-8">
        <h1 class="text-5xl font-bold">Étudiant en BUT MMI 3ᵉ année</h1>
        <p class="mt-4">Retrouvez les créations les plus marquantes sur lequel j'ai travaillé lors de mes 2 années
            d'études en BUT Métiers du Multimédia et de l'Internet</p>
    </header>

    <section class="dark:bg-[#121212] py-16 text-center lg-px:32 px-8">
        <h2 class="text-2xl font-bold mb-6 flex items-center justify-center gap-2">
            <i class='bx bxs-palette'></i> Mes autres créations en tout genre...
        </h2>
        <div id="projectsContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl mx-auto">
            {sorted_projects.map((project) => {
                const data = project.data;
                const slug = project.id;
                const cleanText = project.body ? project.body.replace(/<[^>]*>?/gm, '').toLowerCase().replace(/"/g, ' &quot;') : '';

                return (
                    <a href={`/creations_studies/${slug}/`}
                        class="projectCard animate-on-scroll transition-all duration-600 bg-white dark:bg-[#121212] rounded-lg text-left cursor-pointer hover:bg-[#EDE9FE] dark:hover:bg-[#1A162C] p-2 dark:border-[#121212] block"
                        data-project-id={data.id} data-title={data.title.toLowerCase()}
                        data-description={data.description?.toLowerCase()}
                        data-text={cleanText}
                        data-type={data.type} data-tags={(data.tags || []).map((t:any) => t.name).join(',')}>

                        <div class="h-40 mb-3 rounded-lg bg-[#411FEB] bg-opacity-[0.12] outline outline-2 overflow-hidden">
                            <img src={data.image} loading="lazy" decoding="async" alt={data.title}
                                class="h-40 w-full object-cover rounded-lg transition-transform duration-500 ease-in-out hover:scale-110" />
                        </div>
                        <h3 class="text-lg font-semibold text-[#411FEB] dark:text-[#5536ED]">{data.title}</h3>
                        <div class="mt-1 flex flex-wrap gap-2">
                            {(data.tags || []).map((tag: any) => (
                                <span class="inline-flex items-center gap-1 px-2 rounded-full border border-[#411FEB] text-[#411FEB] font-semibold text-sm dark:text-[#5536ED] dark:border-[#5536ED]"
                                    style="background-color: rgba(65, 31, 235, 0.12)">
                                    <i class={`${tag.icon} text-base`}></i> {tag.name}
                                </span>
                            ))}
                        </div>
                        <p class="text-sm text-[#121212] dark:text-white mt-2">{project.description}</p>
                    </a>
                )
            })}
        </div>
        <button id="showMoreButton"
            class="border-2 border-[#411FEB] text-[#411FEB] dark:text-[#5536ED] px-6 py-2 rounded-full mt-6 hover:bg-[#3509B6] hover:text-white">
            Afficher tous les projets...
        </button>

        <button id="showLessButton"
            class="border-2 border-[#411FEB] text-[#411FEB] dark:text-[#5536ED] px-6 py-2 rounded-full mt-6 hover:bg-[#3509B6] hover:text-white hidden">
            Afficher moins de projets...
        </button>

    </section>

</Layout>